/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Light background color for the entire app */
  color: #333; /* Dark text color for light background */
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw; /* 5% of the viewport width as padding */
}

h1 {
  margin-bottom: 5vh; /* 5% of the viewport height as margin bottom */
  font-size: 5vw; /* Font size is 5% of the viewport width */
}
